@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-image: url('../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.logo__img {
  padding: 10px 0;
}

.cards {
  margin: 0 auto;
  width: 700px;
  /* padding: 0 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 22px;
  position: relative;
  width: 120px;
  height: 120px;
  background-color: rgb(170 194 218 / 80%);
  border-radius: 20px;
  cursor: pointer;
}

.card__font {
  display: none;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.card__font img {
  padding: 15px 0;
}

.card__back {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.card__back {
  padding: 15px 0;
}
