@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-image: url('../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.logo__img {
  padding: 10px 0;
}

.cards {
  margin: 0 auto;
  width: 700px;
  /* padding: 0 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin-bottom: 22px;
  width: 120px;
  height: 120px;
  background-color: rgb(170 194 218 / 80%);
  border-radius: 20px;
  cursor: pointer;
}

.card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card.flip .card__inner {
  transform: rotateY(180deg);
}

.card__font,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card__font {
  background-position: center;
  background-repeat: no-repeat;

  background-image: url('../assets/images/cards/bg-cards.png');

  transition: 0.3s;
}

.card__font img {
  padding: 15px 0;
}

.card__back {
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  transform: rotateY(180deg);
}

.card__back {
  padding: 15px 0;
}
